name: linux

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      
      - name: prepare
        run: |
          sudo apt update
          sudo apt install libasound2-dev libxrandr-dev libxinerama-dev libxcursor-dev libx11-dev libxext-dev libfreetype6-dev libglu1-mesa-dev xvfb ninja-build
          git submodule init
          git submodule update
  
      - name: cmake
        run: |
          mkdir build
          cmake -B build .
  
      - name: build
        run: cmake --build build
