name: windows

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: windows-latest
    
    steps:
      - uses: actions/checkout@v2
      
      - name: prepare
        run: |
          git submodule init
          git submodule update
      
      - name: cmake
        run: |
          mkdir build
          cmake -B build .
      
      - name: build
        run: cmake --build build

